go
# Arquivos de configuração do shell
.bashrc
.profile
.bash_logout
.sudo_as_admin_successful

# Diretórios de configuração e cache locais
.config/
.local/
.cache/
.npm/
.ssh/
.docker/
.cloudshell/

# Diretórios e arquivos específicos de editores/IDEs
.vscode
.codeoss

# Outros arquivos e diretórios indesejados
/npm*
/.config*
/.cache*